figure.picture {
  max-width: 250px;
  float: right;
  padding-left: 1em;
  margin: 0;
  margin-bottom: 1em;
}

figure.picture img {
  margin-bottom: 0;
  clip-path: circle();
}

figure.picture p.caption {
  text-align: center;
}
