.content section.two-column {
  column-count: 2;
}

@media (width < 500px) {
  .content section.two-column {
    column-count: 1;
  }
}

.content section.two-column section.small {
  break-inside: avoid-column;
}

#post section.two-column > *:first-child {
  margin-top: 0;
}

.content section.two-column table {
  margin-left: 0;
}
