{
  "extends": [
    "airbnb-base",
    "plugin:wc/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "template-curly-spacing": ["error", "always"],
    "no-undef": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "arrow-body-style": 0
  },
  "settings": {
    "wc": {
      "elementBaseClasses": ["LitElement"]
    }
  }
}
