{
  "extends": "stylelint-config-standard",
  "rules": {
    "media-feature-name-no-unknown": [ true, {
      "ignoreMediaFeatureNames": ["@small", "@medium", "@large"]
    }],
    "selector-type-no-unknown": [ true, {
      "ignoreTypes": ["vellum-monster"]
    }],
    "property-no-vendor-prefix": null,
    "color-function-notation": null
  }
}
