article img {
  width: 80%;
  height: auto;
  margin-bottom: 2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (width < 800px) {
  article img {
    width: 100%;
  }
}

article img.small {
  width: 40%;
}
