#post img {
  margin: 1em;
  border: solid;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

#post img:nth-child(odd){
  margin-right: 0;
  float: right;
}

#post img:nth-child(even) {
  margin-left: 0;
  float: left;
}

article img.small {
  width: 40%;
}
