@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Andada+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--font-family: 'Alegreya', serif;
	--title-font-family: 'Andada Pro', serif;

	--background-color: black;

	--text-color: white;
	--text-color-link: rgb(255, 82, 119);
	--text-color-link-active: rgb(255, 41, 87);
	--text-color-link-visited: rgb(255, 41, 87);
}

* {
	box-sizing: border-box;
  line-height: 1;
}

html,
body {
	padding: 0;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 720px;
	margin: 0 auto;
}

h1 {
	font-family: var(--title-font-family);
  line-height: 1;
}

p {
  line-height: 1;
}
p:last-child {
	margin-bottom: 0;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
}
main :first-child {
	margin-top: 0;
}
main header {
  margin-bottom: 7rem;
}

nav {
  margin-top: 20px;
  margin-bottom: 5rem;
	padding: 0;
	list-style: none;
}

my-preview {
  --preview-size: 165px;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 7rem;
}

ul.previews {
  list-style: none;
}