#post a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-image:
    linear-gradient(
      to top,
      #4b4b4b 0%,
      #4b4b4b 20%,
      transparent 80%,
      transparent 100%
    );
}

#post h1 a,
#post h2 a,
#post h3 a,
#post h4 a {
  color: red;
  text-decoration: none;
  background-image: none;
  background-color: transparent;
}

#post a:hover {
  background-color: #4b4b4b;
}

#post h1 a:hover,
#post h2 a:hover,
#post h3 a:hover,
#post h4 a:hover {
  color: red;
  text-decoration: none;
  background-image: none;
  background-color: transparent;
}
