#post {
  font-size: 1.1rem;
}

#post pre,
#post blockquote,
#post dl,
#post table,
#post p,
#post ul,
#post ol,
#post form {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

#post h2,
#post h3,
#post h4,
#post h5 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

#post h2 {
  font-size: 3.6rem;
}

#post h3 {
  font-size: 2.6rem;
}

#post h4 {
  font-size: 1.6rem;
}

#post table {
  margin-bottom: 1.5rem;
}
