---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<header>
  <my-hero>
    <span slot="title">The <br> Grisly Eye</span>
    <span slot="description">
      {{ metadata.description }}
    </span>
  </my-hero>
</header>

<my-section subtitle="featured">
  <div slot="subtitle">featured</div>

  <ul id="featured" class="previews">
    {% for post in collections.featured | excludeTags([ "drafts" ]) | reverse %}
      <li class="preview">
        {% if (post.data.redirectTo) %}{% set url %}{{ post.data.redirectTo }}{% endset %}
        {% else %}{% set url %}{{ post.url }}{% endset %}
        {% endif %}

        <a href="{{ url }}" title="{{ post.data.title }}">

          {% if loop.index % 3 == 1 %}
            {% set theme %} bloody {% endset %}
          {% elif loop.index % 2 == 1 %}
            {% set theme %} light {% endset %}
          {% else %}
            {% set theme %} dark {% endset %}
          {% endif %}

          <my-preview
            class="{{ post.data.tags.join(' ') }} {{ theme }} featured"
            {% if post.data.image %}
              {% set imagePath %}.{{ post.inputPath }}/{{ post.data.image }}{% endset %}
              background="{% rawImageUrl post, post.data.image, 300 %}"
            {% endif %}
            preload
          >
            <span slot="title">{{ post.data.title }}</span>
          </my-preview>

        </a>
      </li>
    {% endfor %}
  </ul>
</my-section>

<my-section subtitle="more">
  <div slot="subtitle">more</div>
  <ul id="more" class="previews">
    {% for post in collections.posts | excludeTags([ "drafts", "featured" ]) | reverse %}
      <li class="preview">
        {% if (post.data.redirectTo) %}{% set url %}{{post.data.redirectTo}}{% endset %}
        {% else %}{% set url %}{{post.url}}{% endset %}
        {% endif %}

        <a href="{{ url }}" title="{{ post.data.title }}">

          {% if loop.index % 3 == 1 %}
            {% set theme %} bloody {% endset %}
          {% elif loop.index % 2 == 1 %}
            {% set theme %} light {% endset %}
          {% else %}
            {% set theme %} dark {% endset %}
          {% endif %}

          <my-preview
            {% if post.data.image %}
              {% set imagePath %}.{{ post.url }}{{ post.data.image }}{% endset %}
              background="{% rawImageUrl post, post.data.image, 250 %}"
            {% endif %}
            class="{{ post.data.tags.join(' ') }} {{ theme }}"
          >
            <span slot="title">{{ post.data.title }}</span>
          </my-preview>

        </a>
      </li>
    {% endfor %}
  </ul>
</my-section>
