---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<header>
  <my-hero>
    <span slot="title">The <br> Grisly Eye</span>
    <span slot="subtitle">
      {{ metadata.description }}
      <br/>
      You can buy my stuff below, or follow/contact me via my socials above.
    </span>
  </my-hero>
</header>

<ul id="more" class="previews">
  {% for post in collections.products | reverse %}
    <li class="preview">
      <a href="{{ post.url }}" title="{{ post.data.title }}">

        <my-preview
          {% if post.data.image %}
            {% set imagePath %}.{{ post.url }}{{ post.data.image }}{% endset %}
            background="{% rawImageUrl imagePath, "webp", [ '300px' ] %}"
          {% endif %}
          class="{{ post.data.tags.join(' ') }}"
        >
          <span slot="title">{{ post.data.title }}</span>
        </my-preview>

      </a>
    </li>
	{% endfor %}
</ul>
