---
title: The Grisly Eye - Mailing List
layout: layouts/base.njk
---
<header>
  <my-hero subtitle="Subscribe">
    <span slot="title">Mailing List</span>
    <span slot="description">
      Stay updated with the latest products and blog posts from Grisly Eye Games. Subscribe to my low-traffic mailing list:
    </span>
  </my-hero>
</header>

<my-section>
  <form
    id="mailing-list"
    action="https://buttondown.email/api/emails/embed-subscribe/grislyeye"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/grislyeye', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <input type="text" name="email" id="tlemail" placeholder="Email">
    <my-button type="submit" title="Subscribe"></my-button>
  </form>
</my-section>
