---
layout: layouts/base.njk
---
<header>
  <my-hero subtitle="Subscribe">
    <span slot="title">Mailing List</span>
    <span slot="description">
      Stay updated with the latest products and blog posts from Grisly Eye Games. Subscribe to my low-traffic mailing list:
    </span>
  </my-hero>
</header>

<my-section>
  <form
    id="mailing-list"
    action="https://tinyletter.com/grislyeye"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://tinyletter.com/grislyeye', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
  >
    <input type="text" name="email" id="tlemail" placeholder="Email">
    <input type="hidden" value="1" name="embed">
    <my-button type="submit" title="Subscribe"></my-button>
  </form>
</my-section>
