  {% include "../top.njk" %}

  <main>

    {% include "../header.njk" %}

    <div id="content">

      <aside id="sidebar">

        <section id="projects">
          <h3>What I'm Working On</h3>

          <a href="https://three-meet.grislyeye.com">
            <div class="project">
              <h4>Three Meet</h4>
              <img class="preview" src="images/three-meet.png" alt="Three Meet">

              <p>A low-fantasy 5E hack for dark times.</p>
            </div>
          </a>

          <a href="https://wargod.grislyeye.com">
            <div class="project">
              <h4>Wargod!</h4>
              <img class="preview" src="images/wargod.png" alt="Three Meet">

              <p>A rules-light tabletop RPG that vibes off the British old-school renaissance.</p>
            </div>
          </a>
        </section>

        {% if collections.products %}

          <h3>Buy Now</h3>

          {% for product in collections.products %}
            <div class="product">
              <a href="{{ product.url }}"><img src="{{ product.data.image }}" alt="{{ product.data.title }}"></a>
            </div>
          {% endfor %}
        {% endif %}

      </aside>

      <div id="articles">
        {% for article in collections.publishedArticles | reverse | limit(12) %}
          <div class="article">
            <a href="{{ article.url }}">

              <h4>{{ article.data.title }}</h4>

              {% if article.data.image %}
                <img src="{{ article.data.image }}" alt="{{ article.data.title }}" class="preview">
              {% endif %}

              <p>{{ article.data.content | preview }}...</p>
            </a>
          </div>
        {% endfor %}]
      </div>
    </div>

  </main>

  {% include "footer.njk" %}
  {% include "analytics.html" %}
  {% include "fuac-show.html" %}

</body>
</html>
