  {% include "../top.njk" %}

  <main>

    {% include "../header.njk" %}

    <div id="content">

      <aside id="sidebar">

        <section id="projects">
          <h3>What I'm Working On</h3>

          {% for product in collections.wipProjects | reverse | limit(6) %}
            <div class="product">
              {{ product.data.publish }}
              <a href="{{ product.url }}">
                {% if product.data.image %}
                  {% renderTemplate "webc", {
                    image: product.data.image,
                    title: product.data.title
                  } %}
                    <eleventy-image class="preview" :src="{{ 'assets/' + image }}" :alt="{{ title }}" width="230"></eleventy-image>
                  {% endrenderTemplate %}
                {% else %}
                  <p>{{ product.data.title }}</p>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </section>

        {% if collections.products %}

          <section id="products">
            <h3>Buy Now</h3>

            {% for product in collections.publishedProducts | reverse | limit(6) %}
              <div class="product">
                {{ product.data.publish }}
                <a href="{{ product.url }}">
                  {% if product.data.image %}
                    <img src="{{ product.data.image }}" alt="{{ product.data.title }}" loading="lazy">
                  {% else %}
                    <p>{{ product.data.title }}</p>
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          </section>
        {% endif %}

      </aside>

      <div id="articles">
        {% for article in collections.publishedArticles | reverse | limit(12) %}
          <div class="article">
            <a href="{{ article.url }}">

              <h4>{{ article.data.title }}</h4>

              {% if article.data.image %}
                {% renderTemplate "webc", {
                  image: article.data.image,
                  title: article.data.title
                } %}
                  <eleventy-image class="preview" :src="{{ 'assets/' + image }}" :alt="{{ title }}" width="230"></eleventy-image>
                {% endrenderTemplate %}
              {% endif %}

              <p>{{ article.data.content | preview }}...</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>

  </main>

  {% include "footer.njk" %}
  {% include "analytics.html" %}
  {% include "fuac-show.html" %}

</body>
</html>
