  {% include "top.njk" %}

  <main class="post">

    {% include "header.njk" %}

    <div id="content">

      <article>
        <header>
          <h2 id="title">{{ title }}</h2>
        </header>

        <div class="content">
          {{ content | safe }}
        </div>

      </article>

    </div>

  </main>

  {% include "footer.njk" %}
  {% include "analytics.html" %}
  {% include "fuac-show.html" %}

</body>
</html>
