  {% include "header.njk" %}

  <main class="post">

    <article>
      <header>
        <h2 id="title">{{ title }}</h2>
      </header>

      <div class="content">
        {{ content | safe }}
      </div>

    </article>
  </main>

  {% include "footer.njk" %}
  {% include "analytics.html" %}
  {% include "fuac-show.html" %}

</body>
</html>
