#banner {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#banner .content {
  .container();
}

#banner {
  background: white;
  width: 100%;
  color: black;
}

#banner strong {
  color: red;
}

#banner h1, #banner h2, #banner h3 {
  text-align: center;
}

#banner {

  clear:left;

  form {

    text-align: center;

    input {
      margin: 0.2em;
    }

    input[type='email'] {
      color: black;
      font-family: 'Alegreya', serif;
    }

  }

}
