figure {
  max-width: 250px;
}

figure p.caption {
  font-size: smaller;
  font-style: italic;
  margin: 0;
}

figure img {
  width: 100%;
}

figure.large {
  max-width: 500px;
}

figure.full-width {
  min-width: 100%;
}

figure.full-width img {
  width: 100%;
  margin: 0;
}

@media (width < 500px) {
  figure {
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}
