@import "node_modules/@fortawesome/fontawesome-free/less/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/less/brands";
@import "node_modules/@fortawesome/fontawesome-free/less/solid";
@fa-font-path: "vendor/fontawesome/fonts";

span.icon.rss {
  .fa-icon;
  .fas;

  &::before {
    content: @fa-var-rss-square;
  }
}

span.icon.twitter {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-twitter;
  }
}

span.icon.facebook {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-facebook;
  }
}

span.icon.reddit {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-reddit;
  }
}

span.icon.youtube {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-youtube;
  }
}

span.icon.twitch {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-twitch;
  }
}

span.icon.github {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-github;
  }
}

span.icon.discord {
  .fa-icon;
  .fab;

  &::before {
    content: @fa-var-discord;
  }
}
