div.illustration,
figure.illustration {
  float: right;
  padding: 1em 0;
  padding-left: 1em;
  margin: 1em 0;
}

div.illustration.full-width,
figure.illustration.full-width {
  float: none;
  padding-left: 1em;
}

div.illustration.outlined img,
figure.illustration.outlined img {
  border: solid;
}
