body > main aside#sidebar {
  width: 30%;
  padding-left: 5%;
}

body > main aside#sidebar h3 {
  max-width: 100%;
  text-align: center;
}

@media (max-width: 500px) {
  body > main aside#sidebar h3 {
    display: none;
  }
}

body > main aside#sidebar img {
  max-width: 100%;
}

body > main aside#sidebar.products {
  text-align: center;
}

@media (max-width: 500px) {
  body > main aside#sidebar {
    width: 100%;
    padding-left: 0;
  }
}

aside#sidebar h5 {
  margin-bottom: 0;
}

aside#sidebar ul {
  list-style-type: none;
}

aside#sidebar ul li {
  font-size: 1.2em;
}

aside#sidebar ul li a {
  color: inherit;
  text-decoration: inherit;
}

aside#sidebar span.icon {
  font-size: 0.9em;
  font-family: "Andada SC", serif;
  font-weight: bold;
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
}
