@import url("fonts.css");
@import url("icons.css");
@import url("stat-block.css");
@import url("chat.css");
@import url("banner.css");
@import url("blockquote.css");
@import url("figure.css");
@import url("illustration.css");
@import url("picture.css");
@import url("article.css");
@import url("project.css");
@import url("fate.css");
@import url("amp.css");
@import url("code.css");
@import url("header.css");
@import url("reader-bar.css");
@import url("two-column.css");
@import url("button.css");
@import url("product.css");
@import url("/vendor/modern-normalize/modern-normalize.css");
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,400italic,700italic,700&display=swap");

body {
  background: black;
  color: white;
  font-family: Alegreya, serif;
  font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Andada SC", serif;
  color: red;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  font-family: "Andada SC", serif;
  color: red;
  text-decoration: none;
}

@media (width < 800px) {
  .subtitle {
    display: none;
  }

  h2 {
    text-align: center;
  }
}

article img {
  width: 80%;
  margin-bottom: 2.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (width < 800px) {
  article img {
    width: 100%;
  }
}

article img.small {
  width: 40%;
}

footer {
  font-size: smaller;
  color: gray;
  text-align: center;
}

@media (width < 500px) {
  footer {
    font-size: 1em;
  }
}

ul,
ol {
  padding-left: 2em;
}

.content strong {
  color: red;
}

.content dl dt {
  float: left;
  clear: left;
  margin-left: 2.5rem;
  margin-right: 5px;
  font-weight: bold;
  font-style: italic;
  color: red;
}

.content dl dd {
  margin-left: 0;
  margin-bottom: 2.5rem;
}

.content table caption {
  font-variant: small-caps;
  font-weight: bold;
  color: red;
  text-align: left;
  font-size: larger;
}

.content dl dd dl {
  margin-top: 1em;
}

.content dl dd dl dt {
  font-weight: normal;
  color: white;
}

.content dl.stats dt {
  font-style: normal;
  margin-left: 0;
}

.content dl.stats dd {
  margin-bottom: 0;
}

.content input[type="checkbox"] {
  margin-right: 0.5em;
}

.content .product {
  font-style: italic;
  color: red;
}

.content .title {
  color: red;
  font-variant: small-caps;
}
