<section id="banner">
  <div class="content">
    <h3>Follow our Playtest Campaign</h3>

    <p>I run a playtest campaign called <strong>Black Griffin</strong> and post regular diary updates on <a href="/black-griffin-session-30.html">this blog</a>. If you'd like to be notified when we publish a new campaign diary please subscribe to our playtest channel:</p>

    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <form action="https://grislyeye.us14.list-manage.com/subscribe/post?u=a6ed184fa960dcf80e6485da0&amp;id=f3c8ea3451" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6ed184fa960dcf80e6485da0_f3c8ea3451" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
      </form>
    </div>

  </div>
</section>
