<section id="bottom-banner" class="banner">
  <div class="content">
    <h3>Follow my Live Stream</h3>

    <p>I live stream about RPGs and game design on <span class="title">Twitch</span> every fortnight. Click on the follow button there to get notified when I go live:</p>

    <a class="center" href="https://www.twitch.tv/grislyeye"><div class="button">Follow on Twitch</div></a>

  </div>
</section>
