<section id="bottom-ribbon" class="ribbon">
  <div class="content">

    <h3>The Vermin Released!</h3>
    <p>Buy my new monograph, <strong>The Vermin</strong>. This gorgeous 11 page PDF introduces 4 new <span class="title">Dungeons &amp; Dragons</span> monsters for 1st-4th level, as well as illustrations, adventure seeds and an example adventure.</p>

    <a class="center" href="/products/vermin.html"><div class="button">Buy Now</div></a>

  </div>
</section>
