<section id="bottom-banner" class="banner">
  <div class="content">
    <h3>Follow my Live Stream</h3>

    <p>I'm livestreaming some of my game design on <strong>Twitch</strong>. Join me every fortnight on <strong>Burn It</strong> as I chat and write-up a piece of RPG design. Follow me to get updated when I go live:</p>

    <a class="center" href="https://www.twitch.tv/grislyeye"><div class="button">Twitch</div></a>

  </div>
</section>
