{{> bottom-banner}}

<footer>
  <p class="legal">
    Website version {{ pkg.version }} Copyright &copy; 2016-2020 Grisly Eye Games. Grisly Eye logo symbol designed by Freepik. All game rules are licensed as Open Game Content under the terms of the <a href="/ogl.html">Open Gaming License</a>. Grisly Eye Games collects data to continually improve the site.
  </p>
</footer>
