<section id="playtest">
  <div class="content">
    <h3>Join our Playtest Campaign</h3>

    <p>We're looking for imaginative players to join our official, playtest campaign and give us your feedback. This will be a <strong>play-by-chat only</strong> game using 5th edition <em>Dungeons &amp; Dragons</em>.</p>

    <p>As playtesters you'll get access to pre-release material to review. Plus <strong>free</strong>, digital copies of the final products when they are released. Double plus: we'll immortalise you with a playtest credit! Can't say fairer than that.</p>

    <form method="get" action="https://app.roll20.net/lfg/listing/87470/black-griffin" target="_blank">
      <button>Apply</button>
    </form>
  </div>

</section>

<footer>
  <p class="legal">
    Copyright &copy; 2016-2017 Grisly Eye Games. Grisly Eye logo symbol designed by Freepik. All game rules are licensed as Open Game Content under the terms of the <a href="ogl.html">Open Gaming License</a>.
  </p>
</footer>
