<section id="playtest">
  <div class="content">
    <h3>Join our Playtest Channel</h3>

    <p>We're looking for adventurous fantasy roleplaying groups to playtest our monographs and send us your thoughts, feedback, criticisms and feels.</p>

    <p>Participants will receive a <strong>free</strong>, digital copy of final products they playtest. Plus we'll immortalise you and your friends with a playtest credit! Can't say fairer than that.</p>

    <p>To enter please subscribe to our playtest channel:</p>

    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
      <form action="//grislyeye.us14.list-manage.com/subscribe/post?u=a6ed184fa960dcf80e6485da0&amp;id=3261616612" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a6ed184fa960dcf80e6485da0_3261616612" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
  </div>

</section>

<footer>
  <p class="legal">
    Copyright &copy; 2016-2017 Grisly Eye Games. Grisly Eye logo symbol designed by Freepik. All game rules are licensed as Open Game Content under the terms of the <a href="ogl.html">Open Gaming License</a>.
  </p>
</footer>
