<header>
  <nav>
    <ul class="links">
      <li><a href="rss.xml" title="Grisly Eye Games RSS feed"><i class="rss" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/intent/follow?screen_name=grislyeye" title="Grisly Eye Games on Twitter"><i class="twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.facebook.com/grislyeye/" title="Grisly Eye Games on Facebook"><i class="facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.twitch.tv/grislyeye" title="Grisly Eye Games on Twitch"><i class="twitch" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

  <h1 class="title"><a href="/"><img id="logo" src="images/logo.svg" alt="Grisly Eye Games Logo" />Grisly Eye Games</a></h1>
</header>
