<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  {{#unless title}}
  <title>Grisly Eye Games</title>
  {{/unless}}

  {{#if title}}
  <title>{{ title }} - Grisly Eye Games</title>
  {{/if}}

  <link href="/main.min.css" rel="stylesheet" />
  <script type="module" src="/scripts/vellum.js"></script>
  <link rel="alternate" type="application/rss+xml" title="Grisly Eye Games" href="/rss.xml" />

  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@grislyeye" />

  {{#if redirectTo}}
    <meta http-equiv="refresh" content="0; url={{ redirectTo }}">
    <link rel="canonical" href="{{ redirectTo }}">
    <script>window.location.replace('{{ redirectTo }}'.replace('&#x3D;', '='));</script>
  {{/if}}
</head>

<body>

{{> top-banner}}

<header>
  <nav>
    <p>Follow:</p>
    <ul class="links">
      <li><a href="/rss.xml" title="Grisly Eye Games RSS feed"><i class="rss" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/intent/follow?screen_name=grislyeye" title="Grisly Eye Games on Twitter"><i class="twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.facebook.com/grislyeye/" title="Grisly Eye Games on Facebook"><i class="facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.twitch.tv/grislyeye" title="Grisly Eye Games on Twitch"><i class="twitch" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

  <h1 class="title"><a href="/"><img id="logo" src="/images/logo.svg" alt="Grisly Eye Games Logo" />Grisly Eye Games</a></h1>
</header>
