<header>
  <nav>
    <ul class="links">
      <li><a href="https://twitter.com/intent/follow?screen_name=grislyeye" title="Grisly Eye Games on Twitter"><i class="twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://plus.google.com/b/113274388248145750039/+Grislyeye/about" title="Grisly Eye Games on Google+"><i class="googleplus" aria-hidden="true"></i></a></li>
      <li><a href="https://www.facebook.com/grislyeye/" title="Grisly Eye Games on Facebook"><i class="facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.reddit.com/user/axonrg" title="Grisly Eye Games on Reddit"><i class="reddit" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

  <h1 class="title"><a href="/"><img id="logo" src="images/logo.svg" alt="" />Grisly Eye Games</a></h1>
</header>
