<section id="top-banner" class="banner">
  <div class="content">
    <h3>The Enchanted Released!</h3>

    <p><strong>The Enchanted</strong> has been released on PDF and is available for purchase. This gorgeous 8 page monograph introduces two new, unique backgrounds as well as rules for low-fantasy characters.</p>

    <a class="center" href="/products/enchanted.html"><div class="button">Buy Now!</div></a>

  </div>
</section>
