<section id="top-ribbon" class="ribbon">
  <div class="content">

    <h3>The Eldritch Released!</h3>

    <p>Buy my new monograph, <strong>The Eldritch</strong>. This gorgeous 12 page monograph introduces five new backgrounds and variant rules for low-fantasy characters.</p>

    <a class="center" href="/products/eldritch.html"><div class="button">Buy Now</div></a>

  </div>
</section>
