<section id="top-banner" class="banner">
  <div class="content">
    <h3>The Vermin Released!</h3>

    <p><strong>The Vermin</strong> has been released on PDF and is available for purchase. This gorgeous 11 page monograph introduces a new monster for 1st-4th level player characters as well as illustrations, adventure seeds and an example adventure.</p>

    <a class="center" href="/products/vermin.html"><div class="button">Buy Now!</div></a>

  </div>
</section>
