  {{> header}}

  <main>
    <article>
      <header>
        <h2>{{ title }}</h2>
      </header>

      <div class="content">
        {{{ contents  }}}
      </div>

    </article>
  </main>

  {{> footer}}
  {{> analytics}}

</body>
</html>
