<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{{ title }} - Grisly Eye Games</title>

  <link href="main.min.css" rel="stylesheet" />
  <script src="vendor/webcomponentsjs/webcomponents-loader.js" async></script>
  <link rel="import" href="vendor/vellum-stat-block/vellum-stat-block.html">
  <link rel="alternate" type="application/rss+xml" title="Grisly Eye Games" href="rss.xml" />

  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
</head>

<body>

  {{> header}}

  <main>
    <article>
      <header>
        <h2 id="title">{{ title }}</h2>
      </header>

      <div class="content">
        {{{ contents  }}}
      </div>

    </article>
  </main>

  {{> footer}}
  {{> analytics}}

</body>
</html>
