<section id="bottom-ribbon" class="ribbon">
  <div class="content">
    <h3>Subscribe for Updates</h3>

    <p>Stay updated with the latest products and blog posts from Grisly Eye Games. Subscribe to my low-traffic mailing list and you get a free copy of <a href="/products/enchanted">The Enchanted</a>:</p>

    <div id="revue-embed">
      <form action="https://www.getrevue.co/profile/grislyeye/add_subscriber" method="post" id="revue-form" name="revue-form" target="_blank">
        <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="email">
        <input class="button" type="submit" value="Subscribe" name="member[subscribe]">
      </form>
    </div>

  </div>
</section>
