    <header>
      <nav>
        <ul class="links">
          <li><p><a href="/about" title="Twitter">About Me</a></p></li>
          <li><a rel="me" href="https://twitter.com/grislyeye" title="Twitter"><span class="fab fa-twitter icon" aria-hidden="true"></span></a></li>
          <li><a href="/rss.xml" title="RSS feed"><span  class="fas fa-rss icon" aria-hidden="true"></span></a></li>
        </ul>
      </nav>

      <h1 class="title"><a href="/"><img id="logo" src="/images/logo.svg" alt="Grisly Eye Games Logo">The Grisly Eye</a></h1>
      <h2 class="subtitle">R.G. Wood's Blog</h2>
    </header>
