<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo "" %}

  <link href="/styles/main.css" rel="stylesheet">
  <script type="module" src="/vendor/vellum-monster/dist/vellum-monster.js"></script>
  <link rel="alternate" type="application/rss+xml" title="Grisly Eye Games" href="/rss.xml">

  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@grislyeye">

  {% if redirectTo %}
    <meta http-equiv="refresh" content="0; url={{ redirectTo }}">
    <link rel="canonical" href="{{ redirectTo }}">
    <script>window.location.replace('{{ redirectTo }}'.replace('&#x3D;', '='));</script>
  {% endif %}
</head>

<body>

<header>
  <nav>
    <p>Follow:</p>
    <ul class="links">
      <li><a href="https://twitter.com/grislyeye" title="Twitter"><span class="fab fa-twitter icon" aria-hidden="true"></span></a></li>
      <li><a href="https://grislyeye.itch.io/" title="Itch"><span class="fab fa-itch-io icon" aria-hidden="true"></span></a></li>
      <li><a href="/rss.xml" title="RSS feed"><span  class="fas fa-rss icon" aria-hidden="true"></span></a></li>
    </ul>
  </nav>

  <h1 class="title"><a href="/"><img id="logo" src="/images/logo.svg" alt="Grisly Eye Games Logo">The Grisly Eye</a></h1>
  <h2 class="subtitle">R.G. Wood's Blog</h2>
</header>
