<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if tags and not 'drafts' in tags %}
      {% seo "" %}
    {% elif not tags %}
      {% seo "" %}
    {% endif %}

    <meta name="description" content="{{ description or metadata.description }}">

    <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="{{ metadata.title }}">

    {%- css "base" %}
      {% include "public/css/index.css" %}
    {% endcss %}

    <style>{% getBundle "css", "base" %}</style>

    {%- css %}
      {% include "public/css/post.css" %}
      {% include "public/css/aside.css" %}
      {% include "public/css/blockquote.css" %}
      {% include "public/css/content.css" %}
      {% include "public/css/chat.css" %}
      {% include "public/css/code.css" %}
      {% include "public/css/embeds.css" %}
      {% include "public/css/fate.css" %}
      {% include "public/css/figure.css" %}
      {% include "public/css/illustration.css" %}
      {% include "public/css/images.css" %}
      {% include "public/css/picture.css" %}
      {% include "public/css/stat-block.css" %}
      {% include "public/css/two-column.css" %}
      {% include "public/css/links.css" %}
      {% include "public/css/lists.css" %}
      {% include "public/css/tables.css" %}
      {% include "public/css/button.css" %}
    {% endcss %}

    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

    <script type="importmap">
      {
        "imports": {
          "lit": "/vendor/lit/index.js",
          "lit/": "/vendor/lit/",
          "@lit/reactive-element": "/vendor/@lit/reactive-element/reactive-element.js",
          "@lit/reactive-element/": "/vendor/@lit/reactive-element/",
          "lit-element/": "/vendor/lit-element/",
          "lit-html": "/vendor/lit-html/lit-html.js",
          "lit-html/": "/vendor/lit-html/"
        }
      }
    </script>

    {% favicons './public/images/logo.svg' %}

    {% if redirectTo %}
      <meta http-equiv="refresh" content="0; url={{ redirectTo }}">
      <link rel="canonical" href="{{ redirectTo }}">
      <script>window.location.replace('{{ redirectTo }}'.replace('&#x3D;', '='));</script>
    {% endif %}

    {% if statblocks %}
      <script type="module" src="/vendor/vellum-monster/dist/vellum-monster.js"></script>
    {% endif %}

    {% if shareable %}
      <style>
        share-button:not(:defined) button,
        share-button:defined a {
          display: none;
        }

        share-button:not(:defined) a + a {
          margin-inline-start: 1ch;
        }

        share-button:defined my-shares {
          display: none;
        }

        #post share-button button {
          background: none!important;
          border: none;
          text-decoration: underline;
          cursor: pointer;
        }

        #post share-button img.icon {
          width: 1rem;
          height: 1rem;
          border: none;
          margin: 0;
          padding: 0;
          padding-top: 0.2em;
          filter: brightness(0) invert(1);
        }
      </style>
      <script type="module" src="/vendor/@daviddarnes/share-button/share-button.js"></script>
    {% endif %}

    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Alegreya:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Andada+Pro:wght@400;700&display=swap' %}

    <link href="mailto:ric@grislyeye.com" rel="me">
  </head>

  <body dsd-pending>

    <script>
      if (HTMLTemplateElement.prototype.hasOwnProperty("shadowRoot")) {
        document.body.removeAttribute("dsd-pending");
      }
    </script>

    <nav>
      <my-nav
        twitter="https://twitter.com/grislyeye"
        email="/mailing-list/"
        mastodon="https://c.im/@grislyeye"
        rss="/rss.xml"
        location="London"
      >
        <span slot="name">{{ metadata.author.name }}</span>
        <span slot="title">{{ metadata.title }}</span>
      </my-nav>
    </nav>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p class="legal">
        Website version {{ pkg.version }} &copy; 2016-2024 Grisly Eye Games. Grisly Eye logo symbol designed by Freepik. Some links contain affiliate codes to help cover hosting costs and fund my work.
      </p>
    </footer>

    <script type="module">
      (async () => {
        const litHydrateSupportInstalled = import(
          '/vendor/@lit-labs/ssr-client/lit-element-hydrate-support.js'
        );

        if (!HTMLTemplateElement.prototype.hasOwnProperty('shadowRoot')) {
          const {hydrateShadowRoots} = await import(
            '/vendor/@webcomponents/template-shadowroot/template-shadowroot.js'
          );
          hydrateShadowRoots(document.body);
          document.body.removeAttribute("dsd-pending");
        }

        await litHydrateSupportInstalled;

        import('/bundle/my-components.js');
      })();
    </script>

    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
