---
layout: layouts/base.njk
---
<article class="post micro content h-entry">
  <my-hero subtitle="{{ page.date | readableDate }}">
    <span slot="title">Post</span>
    <span class="e-content" slot="description">
      {{ content | safe }}
    </span>
  </my-hero>
  <a class="u-bridgy-fed" href="https://fed.brid.gy/" hidden="from-humans"></a>
</article>
