---
layout: layouts/base.njk
---
<article class="post micro content">
  <my-hero subtitle="{{ page.date | readableDate }}">
    <span slot="title">Post</span>
    <span slot="description">
      {{ content | safe }}
    </span>
  </my-hero>
</article>

<my-mentions url="https://grislyeye.com/blog/spirit-discipline-1.html"></my-mentions>
