---
layout: layouts/base.njk
---
<article class="post content reader-bar-start">
  <my-page title="{{ title }}" subtitle="{{ page.date | readableDate }}">

    {{ content | safe }}

  </my-page>
  {% readerBar "4px", "transparent", "red" %}
</article>
