---
layout: layouts/base.njk
---
<article class="post content">
  <my-page id="post" title="{{ title }}" subtitle="{{ page.date | readableDate }}">

    {{ content | safe }}

  </my-page>
</article>

<my-mentions url="{{ metadata.url }}{{ page.url }}"></my-mentions>
