body > main #articles div.article {
  background: linear-gradient(rgb(0% 0% 0% / 0%), 1%, rgba(0% 0% 0% / 100%));
  position: relative;
  flex-shrink: 2;
  width: 46%;
  overflow: hidden;
  padding: 0.5em;
}

@media (width < 800px) {
  body > main #articles {
    display: block;
  }

  body > main #articles div.article {
    width: 100%;
  }
}

body > main #articles div.article img.preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: grayscale(100%);
  margin-top: 1px;
}

body > main #articles div.article a,
body > main #articles div.article a h4 {
  color: white;
  text-decoration: none;
}

@media (width < 500px) {
  body > main #articles div.article h4 {
    text-align: center;
  }
}
